* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

html {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-image: url(media/fon.png);
    background-size: auto;
}

#logotype {
    width: 67px;
}

header {
    /*padding: 5px;*/
    align-items: center;
    background: #F2F2F2;
    width: 100%;
    height: 80px;

}

header .logo {
    display: flex;
    padding-left: 12px;
    padding-top: 12px;
    align-items: center;
    width: 220px;
    text-transform: uppercase;
    justify-content: space-between;
}

#buttons {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

#buttons a {
    background: #ffffff;
    border: none;
    font-size: 18px;
    color: rgb(122, 122, 120);
    padding: 5px;
    border-radius: 10px;
    margin: 12px;
    font-size: 20px;
    margin-left: 100px;
    text-decoration: none;
}

#banner {
    width: 47%;
    background: rgba(0, 0, 0, 0.8);
    padding: 33px;
    padding-left: 77px;
    margin: 42px 0 0 42px;
}

h1 {
    width: 76%;
    font-style: normal;
    font-weight: 800;
    font-size: 221%;
    line-height: 156%;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

#Poisk {
    border: none;
    width: 25%;
    height: 50px;
    background: #F2F2F2;
    border-radius: 20px;
    padding: 0 50px;

}

#fon-poiska {
    align-items: center;
    text-align: center;
    width: 100%;
    height: 57px;
    border: none;
    background: rgba(0, 0, 0, 0.5);
    padding: 20px 0;
}

#perehod {
    width: 100%;
    height: 6%;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: left;
    margin-top: 230px;
    padding: 20px 0;
    padding-right: 0;
}

#perehod p {
    padding-left: 44px;
}

.image-center {
    display: flex;
    margin: 10px 0;
    justify-content: center;
}

.image-center img {
    width: 80%;
}

#fon-monets {
    position: absolute;
    align-items: center;
    text-align: center;
    width: 30%;
    background: #E1E0DD;
    top: 131%;
    font-size: 23px;
    left: 0%;
}

.text-monets {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.monets-list {
    /*margin-top: 400px;*/
}

.monets-list .moneta-info .moneta-info-right {
    color: white;
    position: relative;
    width: 70%;
}

.monets-list .moneta-characters {
    width: 100%;
}

.monets-list .moneta-info {
    display: flex;
    min-height: 320px;
}
.monets-list .moneta-info .moneta-info-left {
    width: 30%;
    border-bottom: gray solid 2px;
    background: #E1E0DD;
    padding-top: 20px;
}
.monets-list .moneta-info .moneta-info-left .moneta-characters {
    text-align: center;
}
.monets-list .moneta-info .moneta-info-left .moneta-characters td {
    width: 33%;
}
.monets-list .moneta-info .moneta-info-right:hover {
    background: #00000050;
}

.monets-list .moneta-info .moneta-info-right {
    transition: 0.2s;
}
.monets-list .moneta-info .moneta-info-right .moneta-name {
    text-align: center;
    padding-top: 12px;
    font-size: 20px;
}

.monets-list .moneta-info .moneta-info-right .moneta-desc {
    text-align: center;
}

.monets-list .moneta-info .moneta-info-right .moneta-desc h4 {
    font-size: 20px;
    margin-bottom: 24px;
}

.monets-list .moneta-info .moneta-info-right .moneta-desc td:nth-child(1) {
    width: 40%;
}

.monets-list .moneta-info .moneta-info-right .moneta-desc td:nth-child(2) {
    width: 20%;
}

.monets-list .moneta-info .moneta-info-right .moneta-desc td:nth-child(3) {
    width: 40%;
}

.monets-list .moneta-info .moneta-info-right .moneta-buy {
    background: #E1E0DD;
    position: absolute;
    bottom: 0;
    color: black;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
}

.monets-list .moneta-info .moneta-info-right .moneta-buy p {
    padding-left: 12px;
}

.monets-list .moneta-info .moneta-date {
    text-align: center;
    font-size: 22px;
}

#glav {
    width: 100%;
    color: aliceblue;
    text-align: center;
    font-size: 154%;
    position: absolute;
    top: 129%;
}

#opisanie {
    display: grid;
    grid-template-columns: 24% 17% 29%;
    color: aliceblue;
    text-align: center;
    justify-content: end;
    font-size: 111%;
    position: absolute;
    top: 135%;
}

footer {
    font-size: 27px;
    line-height: 39px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 120px;
    width: 100%;
    padding: 20px 0;
    background: rgba(0, 0, 0, 0.548);
}

@media screen and (max-width: 776px) {
    #banner {
        width: 74%;
    }

    #Poisk {
        width: 80%;
        padding: none;
        text-align: center;
    }
}